html{
    background:#FFFFD4;
    color:#111111;
}
h1,#footer{
    font-family:verdana;
}
h1{
    font-size:5em;
    border-bottom:0.1em solid black;
    padding-bottom:0.1em;
}
#contents{
    font-family:georgia;
}
h2{
    color:#FFFFD4;
    background:#111111;
    border-radius:5px;
    padding:0.1em;
    padding-left:0.3em;
}
h3{
    font-size:1.4em;
}
#footer{
    font-size:0.8em;
    text-align:center;
    margin:2em 0;
    color:#FFFFD4;
    background:#111111;
    border-radius:5px;
    padding:0.1em;
}
a{
    color:#FFFFD4;
}
a:hover{
    color:#738ABD;
}
.mod,.pass,.fail,ul{
    list-style-type:none;
    margin:0;
    padding:5px;
}
li ul{
    margin-left:15px;
}
.mod{
    font-weight:bold;
}
.fail{
    background:#DD2222;
}
.sink-pass{
    background:#D6E895;
}
.sink-failure{
    background:#DF5D5D;
}